:root{
    --azul_escuro: #1b1a24;
    --primary_text_color: #C0BFC4;
    --primary_text_color_hover: #929196;
}

@font-face {
    font-family: "Popins_Regular";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

.navbar{
    background: linear-gradient(to right, #16151b, #1d1c27, #222231)
}

.link_color{
    color: var(--primary_text_color);
    font-family: "Popins_Regular";
}

.link_color:hover,
.link_color:focus,
.link_color:active{
    color: var(--primary_text_color_hover);
}

.text_color{
    color: var(--primary_text_color);
    font-family: "Popins_Regular";
}

.introducao_home{
    margin-top: 10%;
    /* margin-right: 5%; */
}

.cor_fundo_primeira_secao{
    background: linear-gradient(to right, #16151b, #1d1c27, #222231)
}

.cor_fundo_segunda_secao{
    background: linear-gradient(to right, #1a1a1b, #212021, #232324);
}

.cor_fundo_terceira_secao{
    background: linear-gradient(to right, #15141b, #1c1c27, #222231);
}

.cor_fundo_quarta_secao{
    background-color: #3d4651;
}

.redes{
    margin-top: 50%;
}

.somos_nos{
    padding-top: 200px;
}

.aula{
    min-height: 280px;
}

.margin_form{
    margin-top: 100px !important;
    margin-bottom: 100px;
    padding: 100px 15% 100px 0;
}

.imagem_fundo{
    background-image: url("./images/img_opacity.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.inputs_form{
    background-color: #3d4651;
    border: none;
    width: 150%;
    padding: 10px 0 10px 0;
}

.btn_form{
    background-color: #55549D;
    border: none;
    width: 150%;
    padding: 10px 0 10px 0;
}

.btn_form:hover{
    background-color: #6f6dd0;
    color: white;
    font-family: "Popins_Regular";
}

.estrela{
    color: #6f6dd0;
}

.btn_salvar{
    background-color: #55549D;
}

.btn_salvar:hover{
    background-color: #6f6dd0;
    color: white;
}

.card_aula{
    background-color: #3d4651;
}

@media (max-width: 768px) {
    .margin_form {
        padding: 100px 0 100px 0;
    }

    .inputs_form{
        background-color: #3d4651;
        border: none;
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .btn_form{
        background-color: #55549D;
        border: none;
        width: 100%;
        padding: 10px 0 10px 0;
    }
}